@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

/* color*/
:root {
    --primary-color:#dce3e9;
    --dark-color:#343f4b;
    --light-color:#f4f4f4;
    
}


* {
    font-family: 'lato' , sans-serif;    

}

#pagina-inicial{
    position: relative;
    top: 0px;
    background-color: var(--primary-color);
    height: 50px;
    left: 100px;   
    
}

#pesquisa{
    border: none;
    width: 50%;
    height: 30px;
    margin: 5px;
    box-shadow: none;
    color: gray;    
    
}



main {
    background-color: var(--dark-color);
    padding: 50px 100px ;
    
}

h1 {
    text-align: center;
    font-weight: 700 !important;
    color: var(--light-color);
}


p {
    color: var(--primary-color);
    text-align: center;
}

#tema-criado{
    background-color: #fff;
    padding: 0 20px;
    margin: 20px 0;

}

.card-title{
    background-color: var(--primary-color);
    padding: 25px 20px;
    text-align: center;
    font-weight: bolder;
    height: 100px;
    
}
.card{
    margin-bottom: 20px;
    max-width: 400px;
}

#descTema{
    height: 200px;
    
}
.card-text, #lupa{
    
    color: gray;
    box-shadow: none;

}
a , h2{
    color: var(--dark-color) !important;
    text-decoration: none !important;

}
.btn-group>button{
    color: gray;
    border-color: gray;
    background-color: #fff;
}
.btn-group>button:hover{
    color: #fff;
    background-color: gray;
    transition: ease-in-out 1.5;
   
    
    
}

.btn-group>button:focus{
    
    background-color: gray;
    color: #fff; 
    outline: none;
    box-shadow: none;
}

.navbar-collapse{
    flex-grow:0 !important;
}
.carousel-item.active,
.carousel-item-next, 
.carousel-item-prev{
    display: flex!important;

}


@media (max-width: 768px){


.carousel-item-next, 
.carousel-item-prev, 
.carousel-item.active
{
    display: block !important;
}


}

@media (max-width: 576px){
    .card-title, p{
        font-size: x-small;
        height: 65px;
        
    }
    #tema-criado{
        width: 100%;
        padding: 0;
        margin: 2px;
    }
    main{
        padding: 50px 50px;
    }

}

